* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #78A1BB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

header,
footer {
    background-color: #0D1B1E;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 125px;
}

footer {
    min-height: 100px;
}

a {
    text-decoration: none;
    color: #EBF5EE;
}

a:hover {
    color: #909591;
}

header h1,
footer .text {
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #EBF5EE;
}

footer .text {
    font-weight: 500;
    font-size: 15px;
}

.clear-button {
    color: #EBF5EE;
    background-color: #0D1B1E;
    margin-top: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    padding: 10px 22px;
    border-radius: 10px;
}

.clear-button:hover {
    background-color: #244851;
}

.content {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    min-width: 600px; 
    min-height: 600px;
}

.box-in-container {
    border: 0.5px dotted #0D1B1E;
}

.row-of-boxes {
    display: flex;
    gap: 0px;
    width: fit-content;
    height: fit-content;
}